.mask{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #0006;
  z-index: 1000;
  &.hide{
    display: none;
  }
  &.fade{
    animation: fade .5s 1 forwards;
  }
  @keyframes fade {
    0%{
      background-color: #0006;
    }
    100%{
      background-color: #0000;
    }
  }
}
.dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  background-color: #fff;
  &-title {
    line-height: 24px;
    font-size: 16px;
    padding: 8px 0;
  }
}
